<tui-root>

  <app-car-interface></app-car-interface>
<!--  <button-->
<!--    size="l"-->
<!--    tuiButton-->
<!--    type="button"-->
<!--    (click)="findAll()"-->
<!--  >-->
<!--    Find All-->
<!--  </button>-->
<!--  <button tuiButton-->
<!--          (click)="capturePicture()">capture picture</button>-->

<!--  <button tuiButton-->
<!--          (click)="unPair()">UnPair</button>-->

<!--  <br>-->
<!--  <button tuiButton-->
<!--          (click)="setParams()">setParams</button>-->


<!--  <canvas #canvas></canvas>-->
  <!--
     If you need, you can add something between Taiga portal layers:
    -->
  <ng-container ngProjectAs="tuiOverContent">
    <!-- Content over app content -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverDialogs">
    <!-- Content over dialogs -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverAlerts">
    <!-- Content over alerts -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverDropdowns">
    <!-- Content over dropdowns -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
    <!-- Content over hints -->
  </ng-container>
</tui-root>

